.login {
  width: 396px;
  padding: 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login__server-error {
  margin: 163px 0 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FF3055;
  min-height: 14px;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 425px) {
  .login {
    width: calc(100% - 60px);
    padding: 232px 0;
    padding: 56px 0 30px;
  }

  .login__server-error {
    margin: 275px 0 20px;
  }
}
